<div id="details">
  <ul>
    <li>Pitch Type: <%= Pitch.get_pitch_name(@pitch.pitch_type) %></li>
    <li>Outcome: <%= @pitch.des %></li>
    <li>Start speed: <%= @pitch.start_speed %>mph</li>
    <li>End Speed: <%= @pitch.end_speed %></li>
  </ul>
</div>