body {
  font-family: sans-serif;
  background-color: #0A0019;
  overflow: hidden;
  height: 100%;
}

#container {
  float: left;
  width: 100%;
  min-height: 500px;
}

svg {
  margin: 20px auto;
}

svg path {
  -webkit-transform: translate3d(0, 0, 0)
}

.surface {
  position: relative;
  width: 600px;
  float: left;
}

#surface { 
  position: absolute;
  width: 400px;
  height: 300px;
  left: 15px;
  bottom: 40px;
}

#surface svg { 
  border: 1px solid #222;
  background: rgba(5, 0 , 10, 0.8); 
}

.surface .details {
  position: absolute;
  padding: 10px;
  box-shadow: (rgba(0,0,0,0.7)3px,3px,10px);
  background-color: black;
  color: white;
  width: 100px;
  font-size: 12px;
  list-style-type: none;
}

select { width: 300px; }

header {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #CA427E;
  background: #480428;
  color: #F9C5B8;
}

.logo {
  float: left;
  text-indent: -9999%;
  height: 100%;
  width: 40px;
  margin: 0;
  border-right: 1px solid #CA427E;
}

.logo:after {
  content: "";
  float: left;
  background: url('logo.png') center center no-repeat;
  width: 100%;
  height: 100%;
}

#presets, #presets_chzn, .top-nav { float: right; }
#presets_chzn, #presets_chzn .chzn-single { height: 100%; }

#presets_chzn .chzn-single {
  border-width: 0 1px;
  border-radius: 0;
  box-sizing: border-box;
  padding-top: 4px;
}

header .chzn-single div b {
  position: relative;
  top : 4px;
}

.top-nav {
  margin: 0 7px 0 8px;
}

.top-nav a { 
  font-size: 10px;
  text-transform: uppercase;
  color: #CA427E;
  text-decoration: none;
  position: relative;
  top: 6px;
}

nav.players-select {
  position: absolute;
  right: 10px;
  top: 46px;
  width: auto;
}

.helper-text {
  color: #CA427E;
  font-weight: bold;
  font-size: 12px;
  top: -8px;
  position: relative;
  padding: 0 5px;
}

html body .chzn-container-single .chzn-single, 
html body .chzn-container-single .chzn-single .chzn-single-with-drop, 
html body .chzn-container-single .chzn-drop {
  border: 1px solid #CA427E;
  background: #480428;
  color: #F9C5B8;
  box-shadow: none;
}

html body .chzn-container-single .active-result.highlighted, 
.chzn-container-single .group-option.active-result em, 
.chzn-container-single .chzn-results .no-results {
  color: #480428;
  background: #CA427E;
}

html body .chzn-container-single .chzn-search input[type="text"] {
  border-color: #CA427E;
  background: url('chosen-sprite.png') no-repeat 100% -22px, #2E0F1D;
  color: #480428;
}

#cal-primary {
  float: right;
  display: none;
}

.loading-indicator { 
  display: none;
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background: rgba(100,100,100,0.4);
  margin: -25px 0 0 -100px;
  top: 50%;
  left: 50%;
}

body.loading .loading-indicator { display: block; }

#loadingProgressG{
  position: absolute;
  top: 47px;
  left: 43px;
  width:106px;
  height:8px;
  overflow:hidden;
  background-color:#000000;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
}

.loadingProgressG{
  background-color:#FFFFFF;
  margin-top:0;
  margin-left:-106px;
  -moz-animation-name:bounce_loadingProgressG;
  -moz-animation-duration:2.3s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -webkit-animation-name:bounce_loadingProgressG;
  -webkit-animation-duration:2.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -ms-animation-name:bounce_loadingProgressG;
  -ms-animation-duration:2.3s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-timing-function:linear;
  -o-animation-name:bounce_loadingProgressG;
  -o-animation-duration:2.3s;
  -o-animation-iteration-count:infinite;
  -o-animation-timing-function:linear;
  animation-name:bounce_loadingProgressG;
  animation-duration:2.3s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  width:106px;
  height:8px;
}

@-moz-keyframes bounce_loadingProgressG{
  0%{ margin-left:-106px; }
  100%{ margin-left:106px; }
}

@-webkit-keyframes bounce_loadingProgressG{
  0%{ margin-left:-106px; }
  100%{ margin-left:106px; }
}

@-ms-keyframes bounce_loadingProgressG{
  0%{ margin-left:-106px; }
  100%{ margin-left:106px; }
}

@-o-keyframes bounce_loadingProgressG{
  0%{ margin-left:-106px; }
  100%{ margin-left:106px; }
}

@keyframes bounce_loadingProgressG{
  0%{ margin-left:-106px; }
  100%{ margin-left:106px; }
}