svg {
  background-color: #333;
  margin: 20px auto;
}

#surface {
  position: relative;
  width: 600px;
  float: left;
}

#surface .details {
  position: absolute;
  padding: 10px;
  box-shadow: (rgba(0,0,0,0.7)3px,3px,10px);
  background-color: black;
  color: white;
}

nav {
  float: left;
  margin: 20px;
}