<!DOCTYPE html>
<html>
<head>
  <title>Bottomofthe</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="loading">
	<header class="header">
		<h1 class="logo">Bottom of the 11th</h1>
		<nav class="top-nav">
			<a href="#">Twitter</a>
			<a href="#">Github</a>
		</nav>
		<select id="presets">
	  	<option value="50">Clayton Kershaw likes to strike people out</option>
	  	<option value="100">R.A. Dickey throws a lot of Knuckleballs</option>
	  	<option value="200">Aroldis Chapman throws the ball real fast</option>
	  	<option value="1">Adam Wainright has a very good curveball</option>
  	</select>
	</header>

<%= yield %>

<nav class="players-select">
  <select class="select-1 player-select" data-placeholder="-----"></select>
  <span class="helper-text">Vs.</span>
  <select class="select-2 player-select" data-placeholder="-----"></select>
  <span class="helper-text">During the</span>
  <select id="display-type" class="chosen">
  	<option data-type="last-n-pitches" value="50">Last 50 Pitches</option>
  	<option data-type="last-n-pitches" value="100">Last 100 Pitches</option>
  	<option data-type="last-n-pitches" value="200">Last 200 Pitches</option>
  	<option data-type="last-n-days" value="1">Last Game</option>
  	<option data-type="last-n-days" value="2">Last 2 Games</option>
  	<option data-type="last-n-days" value="5">Last 5 Games</option>
  	<option data-type="last-n-days" value="10">Last 10 Games</option>
  </select>
  <div id="cal-primary"></div>
</nav>

<div class="loading-indicator">
	<div id="loadingProgressG">
		<div id="loadingProgressG_1" class="loadingProgressG"></div>
	</div>
</div>

</body>
</html>
